
body {
  background-color: #e9ecef;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

#postcard_body {
  color: #adb5bdd5;
}

#index_body {
  color: #adb5bdd5;
}

#index_body input {
  color: #394f64;
}

#main-nav {
  background-color: #545b62;
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
}

#main-nav .navbar-brand {
  color: #ffc107;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 0.0625em;
  margin-left: 2em;
  text-transform: uppercase;
}

#main-nav .navbar-logo {
  width: 85px;
}

.page-section {
  padding: 6rem 0;
}

@media (min-width: 640px) {
  #main-nav {
    font-size: 1.5em;
  }

  #main-nav .navbar-brand {
    margin-left: 2em;
    transition: font-size 0.3s ease-in-out;
  }
}
