#index_body {
  height: 700px;
  width: 900px;
}

#index_content {
  visibility: hidden;
}

#output {
  height: 100px;
  width: 500px;
}

#login_page {
  left: 100px;
  margin-right: auto;
  margin-top: 0px;
  position: absolute;
  z-index: 0;
}

.login {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  top: 200px;
  width: 300px;
}

#index_content {
  position: absolute;
  right: 750px;
  top: 200px;
}

#postcard_content {
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

#sent {
  height: 50px;
  width: 100px;
}